<div class="form-group">
  <form action="/subscriptions/new" method="POST">
    <label for="email">Email</label>
    <input type="email" name="channel[name]"class="form-control" id="email" placeholder="email" autofocus>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
